@font-face {
  font-family: "Museo Sans";
  src: local('Museo Sans'), url('../../webfonts/museo-sans-100.woff') format('woff');
  font-weight: 100;
}

@font-face {
  font-family: "Museo Sans";
  src: local('Museo Sans'), url('../../webfonts/museo-sans-300.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: "Museo Sans";
  src: local('Museo Sans'), url('../../webfonts/museo-sans-700.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: "Museo Slab";
  src: local('Museo Slab'), url('../../webfonts/museo-slab-700.woff') format('woff');
  font-weight: 700;
}