@import '../variables.scss';

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  z-index: 2;
  overflow-x: hidden;
  white-space: nowrap;
  transition: $transition-duration ease-in-out;
  width: 100%;
  background: $violet;
  align-items: center;
  height: $mininav-height;
  padding: 0 2rem;
  overflow: hidden;
  @include desktop {
    padding: 0 3rem;
  }
  .header__logo {
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='510' height='129.694' viewBox='0 0 513.906 130.687'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23000e0f; %7D %3C/style%3E%3C/defs%3E%3Cpath id='mealise' class='cls-1' d='M376.119,329.162c13,2.2,31.4-3.6,39.4-30.6,1.6-5.6-1.2-8.8-4.4-10.4a16.262,16.262,0,0,0-7-1.8c-3.2,6.4-13.6,31-21.4,27.8-4-1.4-2.6-8.6.4-17.2,3.2-9,6.8-16.8,9.8-24.8,1-2.6,1-4.6.4-5.6-3-4-9.2-6.6-13.4-6.6a9.5,9.5,0,0,0-4.8,1.2c-6.4,2.6-23.4,21.2-36.8,37.2a242.117,242.117,0,0,1,17-38.6c1.4-2.2,1.4-4.2.4-5.6-3-4-9.2-6.6-13.4-6.6a11.185,11.185,0,0,0-5.4,1.6c-6.6,3.2-26.2,26.6-39.8,46,2.6-7.8,5.8-15.2,9.2-23,1-2.4,1.2-4.2.4-5.6-3-4-9.2-6.6-13.4-6.6-6.2,0-11.8,6.2-14.8,13.4-6.2,13.6-10,29.4-8.6,43.8,0.6,7.4,3.4,13,10,12.4,1.4,0,7.4-.4,9.6-1.8,2-.6,14-20.4,25.6-37.2-3,10.2-4.8,19.6-4,26.6,0.6,7.4,3.4,13,10,12.4,1.4,0,7.4-.4,9.6-1.8,2.2-.6,13.6-15.8,27.6-31.4C356.119,310.762,359.919,325.362,376.119,329.162Zm25.4-27.8c1,20.6,15.6,27.2,24.8,27.8,13.6,1,36.6-6,48.8-32.2,2.4-5.4-.4-8.2-4.2-9.8a22.375,22.375,0,0,0-7.8-1.8c-5.8,11.6-16.8,27.6-33.6,23.8-3.4-.8-5.2-3.4-5.2-8,28.6,5.2,42.2-35,31.6-42.6-3.4-2.4-4.6-2-6.8.2a1.512,1.512,0,0,0-.8.8,12.466,12.466,0,0,0-1.8,2.4c-6.2-4.6-13.6-5.8-18.4-4.8a24.059,24.059,0,0,0-12.6,7.8C407.519,275.163,402.119,286.163,401.519,301.362Zm38.6-27.4c-1.6,12.2-7.8,11-11.4,11.6C432.119,276.163,436.319,273.163,440.118,273.963Zm75,55.2c13,2.2,31.4-3.6,39.4-30.6,1.6-5.6-1.2-8.8-4.4-10.4a16.262,16.262,0,0,0-7-1.8c-3.2,6.4-13.6,31-21.4,27.8-4-1.4-2.6-8.6.4-17.2,3.2-9,6.8-16.8,9.8-24.8,1-2.6,1-4.6.4-5.6-3-4-9.2-6.6-13.4-6.6-5,0-9.6,4-12.8,9.4-11.6-14.2-30.2-9.2-41.4,12.8a40.544,40.544,0,0,0-3.8,25.4c1,8.2,11.2,18.4,18.6,19.4,7,1.4,14.6-3.2,19.6-10.4C501.717,322.762,506.517,326.962,515.116,329.162Zm-31.2-22.8c-5,0,3.8-35,17-25-0.6,1.6-1,3.4-1.6,5.2C495.717,295.962,489.117,306.362,483.917,306.362Zm73.6,22.8c13,2.2,35.2-3.6,43.2-30.6,1.6-5.6-1.2-8.8-4.4-10.4a16.262,16.262,0,0,0-7-1.8c-3.2,6.4-17.4,31-25.2,27.8-4-1.4-2.6-8.2,0-16.8,10.6-36.2,28-72.4,35.4-85.2,1.4-2.2,1.4-4.2.4-5.6-3-4-9.2-6.6-13.4-6.6-14.6,0-36.4,57.8-42.8,80.4a108.513,108.513,0,0,0-3.8,14.4C537.315,309.762,540.715,325.562,557.515,329.162Zm52.8-86.2a10.844,10.844,0,0,0,11,11,11.013,11.013,0,0,0,11.2-11,11.182,11.182,0,0,0-11.2-11.2A11.013,11.013,0,0,0,610.313,242.963Zm-5.6,86.2c13,2.2,31.4-3.6,39.4-30.6,1.6-5.6-1.2-8.8-4.4-10.4a16.262,16.262,0,0,0-7-1.8c-3.2,6.4-13.6,31-21.4,27.8-4-1.4-2.6-8.6.4-17.2,3.2-9,6.8-16.8,9.8-24.8,1-2.6,1-4.6.4-5.6-3-4-9.2-6.6-13.4-6.6-6.2,0-11.8,6.2-14.8,13.4a83.882,83.882,0,0,0-6.6,21.4C584.514,309.762,587.914,325.562,604.713,329.162Zm45-22c0.6,6,5.4,25,28.8,23.4,27.4-1.6,30-27.4,14.6-52.8-11.8-19.2.6-35.4-1.6-40.4-1.6-3.2-17.6-6.8-23.4-6.2-18,1.6-36.8,64-46.2,75-3.6,4.2,5.2,13.2,11.6,6.8,10-9.6,15.8-26,21.6-38a72.6,72.6,0,0,1,7-12.6c2.2-3,3.2-5,3.8-5.6a38.6,38.6,0,0,1-.2,4.6,40.06,40.06,0,0,0,3.4,21.2c7,16,19,27.8,11.6,33.2-6.8,4.6-15.6-5.6-14.6-15.2,0-.4,2-7.8.4-8.4-4-1.6-17-1.6-17,12.8Zm59.6-5.8c1,20.6,15.6,27.2,24.8,27.8,13.6,1,36.6-6,48.8-32.2,2.4-5.4-.4-8.2-4.2-9.8a22.375,22.375,0,0,0-7.8-1.8c-5.8,11.6-16.8,27.6-33.6,23.8-3.4-.8-5.2-3.4-5.2-8,28.6,5.2,42.2-35,31.6-42.6-3.4-2.4-4.6-2-6.8.2a1.506,1.506,0,0,0-.8.8,12.466,12.466,0,0,0-1.8,2.4c-6.2-4.6-13.6-5.8-18.4-4.8a24.059,24.059,0,0,0-12.6,7.8C715.31,275.163,709.91,286.163,709.31,301.362Zm38.6-27.4c-1.6,12.2-7.8,11-11.4,11.6C739.91,276.163,744.11,273.163,747.91,273.963Z' transform='translate(-269.766 -199.969)'/%3E%3C/svg%3E%0A");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 50%;
    position: relative;
    background-color: $violet;
    &__link {
      width: 15rem;
      height: 100%;
      display: block;
    }
  }
  nav {
    ul {
      display: flex;
      li {
        list-style: none;
        font-size: 1.4rem;
        @include tablet {
          font-size: 1.8rem;
        }
        &:not(:last-of-type) {
          margin-right: 1rem;
          @include desktop {
            margin-right: 2rem;
          }
        }
      }
    }
  }
  .nav__cta {
    padding: 0.75rem 1rem;
    cursor: pointer;
    border: 1px solid $black;
    color: $violet;
    background-color: $black;
    border-radius: $border-rounded;
    text-decoration: none;
    white-space: nowrap;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:hover {
      text-decoration: underline;
    }
    &--secondary {
      background-color: transparent;
      color: $black;
    }
  }
}