@import '../variables.scss';
@import './DatePicker.scss';

.planner {
  h1 {
    text-shadow: 2px 2px 0 $violet50;
  }
  &--unavailable {
    margin: 0 auto;
    width: 500px;
    max-width: 100%;
    font-weight: $fw-thin;
    height: 350px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 757.64 896.74'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23f1f1f1;%7D.cls-2%7Bfill:%23e49d75;%7D.cls-3%7Bfill:%235fc5d1;%7D.cls-4%7Bfill:%236bd5e1;%7D.cls-5%7Bfill:%23e0e0e0;%7D.cls-6%7Bfill:%23a4a4a4;%7D.cls-7%7Bfill:none;stroke:%23e0e0e0;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px;%7D.cls-8%7Bfill:%23ffd98e;%7D.cls-9%7Bfill:%23ffe4ad;%7D.cls-10%7Bfill-rule:evenodd;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eunlock%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='vector'%3E%3Cpath class='cls-1' d='M636.5,232.73c68.06,61.33,93.17,180.88,67.33,286.61C677.81,625.07,601,717,496,778.29c-105,61.14-238,91.9-326.82,43.86S36.17,647.63,13.78,523.53c-22.2-124.11-22.56-245.67,36.58-305C109.5,159.4,228,162.31,342.79,165.22,457.62,168.31,568.62,171.41,636.5,232.73Z'/%3E%3Crect class='cls-2' x='558.8' y='858.32' width='22.08' height='14.74'/%3E%3Crect class='cls-2' x='677.14' y='835.57' width='20.72' height='18.36' transform='translate(-378.13 619.59) rotate(-38.93)'/%3E%3Crect class='cls-2' x='586.33' y='256.37' width='17.47' height='20.69' rx='8.23'/%3E%3Cpath class='cls-3' d='M602.4,567.42c3,6.88,26,144.94,29.38,158s57.45,98.2,61.13,103.29c1.13,7.36-15.57,19.81-23.49,19.81C661.5,842.26,569,708.23,566.78,702.28S557.11,553.94,602.4,567.42Z'/%3E%3Cpath class='cls-4' d='M505.83,544.55c-1.05,5.7,14.58,136,16.52,153.5s31.89,158.48,34.54,162,22.81,2.76,26.29,1-6.8-147-6.8-157.53,27-107.65,23.53-135.78S505.83,544.55,505.83,544.55Z'/%3E%3Crect class='cls-2' x='561.36' y='386.6' width='21.11' height='36.74'/%3E%3Crect class='cls-5' x='94.97' y='137.85' width='379.57' height='379.57' rx='22.42'/%3E%3Cpath class='cls-6' d='M308.48,310.8a35.09,35.09,0,1,0-47.45,0L234,420.41H335.48Z'/%3E%3Cpath class='cls-7' d='M162.9,137.85a121.86,121.86,0,0,1,243.71,0'/%3E%3Cellipse class='cls-2' cx='569.19' cy='353.64' rx='29' ry='39'/%3E%3Cpath class='cls-8' d='M565.24,415.77c-35.16,0-66.5,97.54-60.48,129.91,1.78,9.56,85.92,28.85,98.78,26.15C608.11,565.61,626.76,415.77,565.24,415.77Z'/%3E%3Cpath class='cls-9' d='M556.22,470.1c15.74-11.42-9.42-66.76-15.3-67.71-10.83-1.75-37.76,19-36.91,27.72C504.46,434.71,540.19,481.73,556.22,470.1Z'/%3E%3Cpath class='cls-2' d='M509,426c-4.24-5.09-14.84-30-16-35.91s-4-94.74-4-100S482,271.56,482,263.64s8.06-18.66,12.16-18.8c4.38,3.11,10.46,21.35,10.74,26,1.53-10,8.77-12.3,10.75-12.3s1.72,15.45-6.48,25.85c.29,7.64,10,83.31,11.57,87.69s19.45,33.09,19.41,35.63S509,426,509,426Z'/%3E%3Crect class='cls-6' x='368.05' y='260.35' width='358.11' height='10.23' transform='translate(40.99 -71.64) rotate(7.78)'/%3E%3Crect class='cls-6' x='366.9' y='247.63' width='21.9' height='29.63' transform='translate(39.02 -48.75) rotate(7.78)'/%3E%3Crect class='cls-6' x='397.87' y='251.17' width='11.78' height='29.63' transform='translate(39.74 -52.22) rotate(7.78)'/%3E%3Cpath class='cls-2' d='M604.74,334c-.83-4.74-1.58-39.09-.3-43.94s4.74-8.39,6.29-15.63c.53-2.49-.31-11.11-2-11.47-3.64-.78-3.85,3.3-4.33,6.3-1.86,10.23-5.65,8.36-7.4,8.12s-7.76-1.28-9.73-1.33,3.05,4,1.52,10.47c-1.2,5.09-6.84,39-8,44.55C585,331.24,604.74,334,604.74,334Z'/%3E%3Crect class='cls-6' x='417.79' y='253.89' width='11.78' height='29.63' transform='translate(40.29 -54.9) rotate(7.78)'/%3E%3Crect class='cls-6' x='368.01' y='250.51' width='63.09' height='10.5' transform='translate(38.31 -51.75) rotate(7.78)'/%3E%3Cpath class='cls-6' d='M734.69,264.08A26.54,26.54,0,1,0,757.4,294,26.54,26.54,0,0,0,734.69,264.08ZM749,292.82a18.07,18.07,0,1,1-15.45-20.35A18.07,18.07,0,0,1,749,292.82Z'/%3E%3Cpath class='cls-2' d='M509.28,284.31c-1.32-5.17-3.89-9.69-4.31-13.58l0,.12c-.28-4.66-6.36-22.9-10.74-26-4.1.14-12.16,10.88-12.16,18.8,0,5.81,3.8,14.5,5.82,20.79h21.35v0Z'/%3E%3Cpath d='M543.06,329.21c0,13.49,9.52,21.81,24.61,26.45,0,18.46,2.85,19.27,2.85,30.51,0,24.22-4.13,12.11-4.13,53.93,0,25.22,10.56,38.94,30,38.94,23.51,0,37-24.87,37-38.27,0-17-16.82-46.54-18-71.07-1.63-33-11.89-60.61-37.62-60.61C555.79,309.09,543.06,317.27,543.06,329.21Z'/%3E%3Ccircle class='cls-2' cx='569.16' cy='358.82' r='7.8'/%3E%3Cpath class='cls-10' d='M701.29,842.49l12.5,17.06-26.15,37-24.68.16.32-12.51,9.91-4.38L682,858.08Z'/%3E%3Cpolyline points='582.36 871.83 582.36 896.74 509.14 896.74 509.14 885.71 557.45 871.83 582.36 871.83'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: auto 90%;
  }
  &__datepicker {
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 1rem;
      @include tablet {
        margin-bottom: 0rem;
      }
      span {
        text-align: right;
        width: 5rem;
        display: inline-block;
      }
    }
    @include tablet {
      flex-direction: row;
    }
    .react-datepicker-wrapper {
      margin: 0 1rem;
    }
    background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' width='64px' height='64px'%3E%3Cpath d='M 15 4.015625 C 13.347656 4.015625 12 5.363281 12 7.015625 L 12 10.015625 L 7 10.015625 C 5.300781 10.015625 4 11.40625 4 13.027344 L 4 54.972656 C 4 56.59375 5.300781 57.984375 7 57.984375 L 55 57.984375 C 56.699219 57.984375 58 56.59375 58 54.972656 L 58 13.027344 C 58 11.40625 56.699219 10.015625 55 10.015625 L 50 10.015625 L 50 7.015625 C 50 5.363281 48.652344 4.015625 47 4.015625 C 45.347656 4.015625 44 5.363281 44 7.015625 L 44 10.015625 L 34 10.015625 L 34 7.015625 C 34 5.363281 32.652344 4.015625 31 4.015625 C 29.347656 4.015625 28 5.363281 28 7.015625 L 28 10.015625 L 18 10.015625 L 18 7.015625 C 18 5.363281 16.652344 4.015625 15 4.015625 Z M 15 6.015625 C 15.550781 6.015625 16 6.464844 16 7.015625 L 16 15.015625 C 16 15.566406 15.550781 16.015625 15 16.015625 C 14.449219 16.015625 14 15.566406 14 15.015625 L 14 7.015625 C 14 6.464844 14.449219 6.015625 15 6.015625 Z M 31 6.015625 C 31.550781 6.015625 32 6.464844 32 7.015625 L 32 15.015625 C 32 15.566406 31.550781 16.015625 31 16.015625 C 30.449219 16.015625 30 15.566406 30 15.015625 L 30 7.015625 C 30 6.464844 30.449219 6.015625 31 6.015625 Z M 47 6.015625 C 47.550781 6.015625 48 6.464844 48 7.015625 L 48 15.015625 C 48 15.566406 47.550781 16.015625 47 16.015625 C 46.449219 16.015625 46 15.566406 46 15.015625 L 46 7.015625 C 46 6.464844 46.449219 6.015625 47 6.015625 Z M 7 11.984375 L 12 11.984375 L 12 15.015625 C 12 16.667969 13.347656 18.015625 15 18.015625 C 16.652344 18.015625 18 16.667969 18 15.015625 L 18 11.984375 L 28 11.984375 L 28 15.015625 C 28 16.667969 29.347656 18.015625 31 18.015625 C 32.652344 18.015625 34 16.667969 34 15.015625 L 34 11.984375 L 44 11.984375 L 44 15.015625 C 44 16.667969 45.347656 18.015625 47 18.015625 C 48.652344 18.015625 50 16.667969 50 15.015625 L 50 11.984375 L 55 11.984375 C 55.601563 11.984375 56 12.445313 56 13.027344 L 56 20.015625 C 55.398438 20.015625 55 20.460938 55 21.015625 L 55 23.015625 C 55 23.570313 55.398438 24.015625 56 24.015625 L 56 54.972656 C 56 55.550781 55.601563 56.015625 55 56.015625 L 7 56.015625 C 6.398438 56.015625 6 55.550781 6 54.972656 L 6 24.015625 C 6.601563 24.015625 7 23.570313 7 23.015625 L 7 21.015625 C 7 20.460938 6.601563 20.015625 6 20.015625 L 6 13.027344 C 6 12.445313 6.398438 11.984375 7 11.984375 Z M 11 20.015625 C 10.398438 20.015625 10 20.460938 10 21.015625 L 10 23.015625 C 10 23.570313 10.398438 24.015625 11 24.015625 C 11.601563 24.015625 12 23.570313 12 23.015625 L 12 21.015625 C 12 20.460938 11.601563 20.015625 11 20.015625 Z M 16 20.015625 C 15.398438 20.015625 15 20.460938 15 21.015625 L 15 23.015625 C 15 23.570313 15.398438 24.015625 16 24.015625 C 16.601563 24.015625 17 23.570313 17 23.015625 L 17 21.015625 C 17 20.460938 16.601563 20.015625 16 20.015625 Z M 21 20.015625 C 20.398438 20.015625 20 20.460938 20 21.015625 L 20 23.015625 C 20 23.570313 20.398438 24.015625 21 24.015625 C 21.601563 24.015625 22 23.570313 22 23.015625 L 22 21.015625 C 22 20.460938 21.601563 20.015625 21 20.015625 Z M 26 20.015625 C 25.398438 20.015625 25 20.460938 25 21.015625 L 25 23.015625 C 25 23.570313 25.398438 24.015625 26 24.015625 C 26.601563 24.015625 27 23.570313 27 23.015625 L 27 21.015625 C 27 20.460938 26.601563 20.015625 26 20.015625 Z M 31 20.015625 C 30.398438 20.015625 30 20.460938 30 21.015625 L 30 23.015625 C 30 23.570313 30.398438 24.015625 31 24.015625 C 31.601563 24.015625 32 23.570313 32 23.015625 L 32 21.015625 C 32 20.460938 31.601563 20.015625 31 20.015625 Z M 36 20.015625 C 35.398438 20.015625 35 20.460938 35 21.015625 L 35 23.015625 C 35 23.570313 35.398438 24.015625 36 24.015625 C 36.601563 24.015625 37 23.570313 37 23.015625 L 37 21.015625 C 37 20.460938 36.601563 20.015625 36 20.015625 Z M 41 20.015625 C 40.398438 20.015625 40 20.460938 40 21.015625 L 40 23.015625 C 40 23.570313 40.398438 24.015625 41 24.015625 C 41.601563 24.015625 42 23.570313 42 23.015625 L 42 21.015625 C 42 20.460938 41.601563 20.015625 41 20.015625 Z M 46 20.015625 C 45.398438 20.015625 45 20.460938 45 21.015625 L 45 23.015625 C 45 23.570313 45.398438 24.015625 46 24.015625 C 46.601563 24.015625 47 23.570313 47 23.015625 L 47 21.015625 C 47 20.460938 46.601563 20.015625 46 20.015625 Z M 51 20.015625 C 50.398438 20.015625 50 20.460938 50 21.015625 L 50 23.015625 C 50 23.570313 50.398438 24.015625 51 24.015625 C 51.601563 24.015625 52 23.570313 52 23.015625 L 52 21.015625 C 52 20.460938 51.601563 20.015625 51 20.015625 Z M 21 30 C 20.746094 30 20.488281 30.097656 20.292969 30.292969 L 14.296875 36.292969 C 14.203125 36.386719 14.128906 36.496094 14.078125 36.617188 C 13.976563 36.859375 13.976563 37.140625 14.078125 37.382813 C 14.128906 37.503906 14.203125 37.613281 14.296875 37.707031 L 20.292969 43.707031 C 20.488281 43.902344 20.742188 44 21 44 C 21.257813 44 21.511719 43.902344 21.707031 43.707031 C 22.097656 43.316406 22.097656 42.683594 21.707031 42.292969 L 17.414063 38 L 44.585938 38 L 40.292969 42.292969 C 39.902344 42.683594 39.902344 43.316406 40.292969 43.707031 C 40.488281 43.902344 40.742188 44 41 44 C 41.257813 44 41.511719 43.902344 41.707031 43.707031 L 47.707031 37.707031 C 48.097656 37.316406 48.097656 36.683594 47.707031 36.292969 L 41.707031 30.292969 C 41.316406 29.902344 40.683594 29.902344 40.292969 30.292969 C 39.902344 30.683594 39.902344 31.316406 40.292969 31.707031 L 44.585938 36 L 17.414063 36 L 21.707031 31.707031 C 22.097656 31.316406 22.097656 30.683594 21.707031 30.292969 C 21.511719 30.097656 21.253906 30 21 30 Z M 9 50.015625 C 8.449219 50.015625 8 50.464844 8 51.015625 C 8 51.566406 8.449219 52.015625 9 52.015625 L 53 52.015625 C 53.550781 52.015625 54 51.566406 54 51.015625 C 54 50.464844 53.550781 50.015625 53 50.015625 Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 4rem;
    background-position: left center;
    padding-left: 5rem;
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    width: auto;
    margin-top: 3rem;
    @include tablet {
      margin-right: -1rem;
    }
    &__card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 1rem;
      border: 1px solid $black;
      border-radius: $border-rounded;
      @include tablet {
        width: calc(100% / 2 - 1rem);
        margin-right: 1rem;
      }
      @include desktop {
        width: calc(100% / 7 - 1rem);
        min-width: 200px;
      }
      &__heading {
        display: flex;
        width: 100%;
        justify-content: space-around;
        font-weight: $fw-bold;
        border-bottom: 1px solid $black;
        text-align: center;
        padding: 0.5rem;
        background-color: $violet10;
      }
      &__meal {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
        word-wrap: break-word;
        &:not(:last-of-type) {
          margin-bottom: 0.3rem;
        }
        &__name {
          background-color: $white40;
          font-weight: $fw-thin;
          padding: 0.25rem 0.5rem;
          font-size: 1.6rem;
        }
        &__details {
          font-size: 1.6rem;
          flex: 1;
          background-color: $white40;
          padding: 0.5rem;
          margin: 0 0 0 0.75rem;
          display: flex;
          align-items: center;
          min-height: 4rem;
          ul {
            width: 100%;
            li {
              list-style: none;
              display: flex;
              &:not(:first-of-type) {
                margin-top: 0.5rem;
                padding-top: 0.5rem;
                border-top: 1px solid $black40;
              }
              button {
                margin-left: auto;
              }
            }
          }
        }
        &__add-button {
          width: 100%;
          flex: 1;
          min-height: 4rem;
          cursor: pointer;
          background: transparent;
          background-color: $white40;
          border: 0;
          border-radius: 0;
          background-position: center;
          background-size: auto 3rem;
        }
      }
    }
  }
  &__modal {
    display: flex;
    align-items: center;
    padding: 3rem;
    color: $black;
    position: fixed;
    top: 50%;
    left: 50%;
    right: 0;
    transform: translateY(-50%) translateX(-50%);
    z-index: 5;
    width: 100%;
    max-width: 42rem;
    background-color: $white;
    border-radius: $border-rounded;
    border: 1px solid $black;
    box-shadow: 2px 2px 0 $violet50;

    &__close {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      width: 3rem;
      height: 3rem;
      background-size: cover;
    }

    &__content {
      &, button {
        width: 100%;
      }
    }
    .react-datepicker-wrapper {
      display: block;
    }
  }
}