@import '../webfonts.scss';
@import '../variables.scss';

*,
*::before,
*::after {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-body;
  font-size: 10px;
  font-weight: $fw-normal;
  color: $black;
  background: $white;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  margin-top: $mininav-width;
  @include desktop {
    font-size: 1.8rem;
    margin-top: 0;
    margin-left: $mininav-width;
  }
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.vh {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

main {
  flex: 1;
  padding: 2rem;
  @include desktop {
    padding: 3rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  font-weight: $fw-bold;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 0.75rem;
  @include desktop {
    margin-bottom: 1rem;
  }
}

h1 {
  font-size: 2.6rem;
  @include desktop {
    font-size: 4.8rem;
  }
}

h2 {
  font-size: 2.4rem;
  @include desktop {
    font-size: 4rem;
  }
}

h3 {
  font-size: 2.2rem;
  @include desktop {
    font-size: 3.6rem;
  }
}

h4 {
  font-size: 2rem;
  @include desktop {
    font-size: 2.8rem;
  }
}

h5 {
  font-size: 1.8rem;
  @include desktop {
    font-size: 2.2rem;
  }
}

h6 {
  font-size: 1.6rem;
  @include desktop {
    font-size: 1.8rem;
  }
}

a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

button {
  padding: 0.75rem 1rem;
  cursor: pointer;
  border: 1px solid $purple;
  color: $white;
  background-color: $purple;
  border-radius: $border-rounded;
  white-space: nowrap;
  &:hover {
    text-decoration: underline;
  }
  &.button--ghost {
    color: $purple;
    background-color: transparent;
  }
  &.button--white {
    border-color: $white;
    background-color: $purple;
    color: $white;
    &.button--ghost {
      background-color: transparent;
    }
  }
}