@import '../webfonts.scss';
@import '../variables.scss';

*,
*::before,
*::after {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 1px solid $black;
  outline-offset: -1px;
}

footer *:focus {
  outline-color: $white;
}

html {
  font-family: $font-body;
  font-size: 10px;
  font-weight: $fw-normal;
  color: $black;
  background: $white;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  @include desktop {
    font-size: 1.8rem;
  }
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.vh {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

main {
  display: flex;
  flex: 1;
  padding: 0;
  margin-top: $mininav-height;
  &.auth {
    padding: 2rem;
    @include desktop {
      padding: 3rem;
      margin-left: $mininav-width;
      margin-top: 0px;
    }
  }
}

section {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  font-weight: $fw-bold;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 0.75rem;
  @include desktop {
    margin-bottom: 1rem;
  }
}

h1 {
  font-size: 2.6rem;
  @include desktop {
    font-size: 4.8rem;
  }
}

h2 {
  font-size: 2.4rem;
  @include desktop {
    font-size: 4rem;
  }
}

h3 {
  font-size: 2.2rem;
  @include desktop {
    font-size: 3.6rem;
  }
}

h4 {
  font-size: 2rem;
  @include desktop {
    font-size: 2.8rem;
  }
}

h5 {
  font-size: 1.8rem;
  @include desktop {
    font-size: 2.2rem;
  }
}

h6 {
  font-size: 1.6rem;
  @include desktop {
    font-size: 1.8rem;
  }
}

p {
  line-height: 1.5;
  &.p--error {
    padding: 1rem;
    background-color: $error-bg;
    color: $error-fg;
    border: 1px solid $error-fg;
    border-radius: $border-rounded;
    display: inline-block;
    margin-bottom: 1.5rem;
  }
  &.p--success {
    padding: 1rem;
    background-color: $success-bg;
    color: $success-fg;
    border: 1px solid $success-fg;
    border-radius: $border-rounded;
    display: inline-block;
  }
}

a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

button {
  display: inline-block;
  padding: 0.75rem 1rem;
  cursor: pointer;
  border: 1px solid $black;
  color: $white;
  background-color: $black;
  border-radius: $border-rounded;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
  &:hover {
    text-decoration: underline;
  }
  &.button--ghost {
    color: $black;
    background-color: transparent;
  }
  &.button--white {
    border-color: $white;
    background-color: $black;
    color: $white;
    &.button--ghost {
      background-color: transparent;
    }
  }
  &.button--icon {
    background-color: transparent;
    border-color: transparent;
    background-size: cover;
  }
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.7;
    &:hover {
      text-decoration: none;
    }
  }
}

.main {
  &-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
    }
  }
  &-content {
    width: 100%;
    @include desktop {
      width: auto;
      flex: 1;
    }
  }
}

.list {
  margin: 0;
  padding: 2rem 0;
  &__item {
    list-style: none;
    display: block;
    margin-bottom: 0.75rem;
    &__inner {
      background-color: $white40;
      padding: 0.5rem;
      margin: 0 0 0 0.75rem;
      display: flex;
      align-items: flex-start;
      line-height: 3rem;
      word-break: break-word;
    }
    &__buttons {
      margin-left: auto;
      width: 9rem;
      text-align: right;
      white-space: nowrap;
      button {
        margin-left: 1rem;
        width: 3rem;
        height: 3rem;
      }
    }
  }
}

.side-form {
  width: 42rem;
  max-width: 100%;
  padding: 2rem 2rem 4rem;
  border-top: 1px solid $black;
  margin: 0 auto;
  @include desktop {
    margin-left: 3rem;
    border: 1px solid $black;
    box-shadow: 2px 2px 0 $violet50;
    border-radius: $border-rounded;
  }
  button {
    display: block;
    @include desktop {
      width: 100%;
      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }
    }
  }
}

label {
  display: block;
  margin-bottom: 2rem;
  & > span {
    margin-bottom: 0.5rem;
    display: inline-block;
  }
}

.label--required:after {
  content: '*';
  color: $error-fg;
  margin-left: 0.5rem;
}

input {
  width: 100%;
  border: 1px solid $black;
  border-bottom-width: 2px;
  border-radius: $border-rounded;
  background-color: $whiter;
  display: block;
  padding: 0.75rem 1rem;
  &.input--error {
    color: $error-fg;
    background-color: $error-bg;
    box-shadow: -2px -2px 0px $error-fg, 2px 2px 0px $error-fg, 2px -2px 0px $error-fg, -2px 2px 0px $error-fg;
  }
  &[type='checkbox'],
  &[type='radio'] {
    width: auto;
  }
}

.input__error-message {
  font-size: 1.6rem;
  color: $error-fg;
  padding: 1rem 0;
  display: inline-block;
}