@import '../webfonts.scss';
@import '../variables.scss';

*,
*::before,
*::after {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 1px dashed $black40;
  outline-offset: 0px;
  box-shadow: inset 0 0.25rem 0.25rem $black10, 0 0 1rem 0 $black40;
}

footer *:focus {
  outline-color: $white;
}

html {
  font-family: $font-body;
  font-size: 10px;
  font-weight: $fw-normal;
  color: $black;
  background: $white;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  @include desktop {
    font-size: 1.8rem;
  }
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.vh {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

main {
  display: flex;
  flex: 1;
  padding: 0;
  margin-top: $mininav-height;
  &.auth {
    padding: 2rem;
    @include desktop {
      padding: 3rem;
      margin-left: $mininav-width;
      margin-top: 0px;
    }
  }
}

section {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  font-weight: $fw-bold;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.6rem;
  @include desktop {
    font-size: 4.8rem;
  }
}

h2 {
  font-size: 2.4rem;
  @include desktop {
    // font-size: 2.4rem;
  }
}

h3 {
  font-size: 2.2rem;
  @include desktop {
    // font-size: 3.6rem;
  }
}

h4 {
  font-size: 2rem;
  @include desktop {
    // font-size: 2.8rem;
  }
}

h5 {
  font-size: 1.8rem;
  @include desktop {
    // font-size: 2.2rem;
  }
}

h6 {
  font-size: 1.6rem;
  @include desktop {
    // font-size: 1.8rem;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 1rem;
}

a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

button {
  display: inline-block;
  padding: 0.75rem 1rem;
  cursor: pointer;
  border: 1px solid $black;
  color: $white;
  background-color: $black;
  border-radius: $border-rounded;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
  &:hover {
    text-decoration: underline;
  }
  &.button--ghost {
    color: $black;
    background-color: transparent;
  }
  &.button--white {
    border-color: $white;
    background-color: $black;
    color: $white;
    &.button--ghost {
      background-color: transparent;
    }
  }
  &.button--icon {
    background-color: transparent;
    border-color: transparent;
    background-size: cover;
  }
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.7;
    &:hover {
      text-decoration: none;
    }
  }
}

ul {
  li {
    list-style: square;
  }
}

.main {
  &-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
    }
  }
  &-content {
    width: 100%;
    @include desktop {
      width: auto;
      flex: 1;
    }
  }
}

.list {
  margin: 0;
  padding: 2rem 0;
  &__item {
    list-style: none;
    display: block;
    margin-bottom: 0.75rem;
    &__inner {
      background-color: $white40;
      padding: 0.5rem;
      margin: 0 0 0 0.75rem;
      display: flex;
      align-items: flex-start;
      line-height: 3rem;
      word-break: break-word;
    }
    &__buttons {
      margin-left: auto;
      width: 9rem;
      text-align: right;
      white-space: nowrap;
      button {
        margin-left: 1rem;
        width: 3rem;
        height: 3rem;
      }
    }
  }
}

.side-form {
  width: 42rem;
  max-width: 100%;
  padding: 2rem 2rem 4rem;
  border-top: 1px solid $black;
  margin: 0 auto;
  @include desktop {
    margin-left: 3rem;
    border: 1px solid $black;
    box-shadow: 2px 2px 0 $violet50;
    border-radius: $border-rounded;
  }
  button {
    display: block;
    @include desktop {
      width: 100%;
      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }
    }
  }
  button.button--icon {
    margin: 0 0 0 0.5rem;
  }
}

label {
  display: block;
  margin-bottom: 2rem;
  & > span {
    margin-bottom: 0.5rem;
    display: inline-block;
  }
}

.label--required:after {
  content: '*';
  color: $error-fg;
  margin-left: 0.5rem;
}

input, select, textarea {
  width: 100%;
  border: 1px solid $black;
  border-bottom-width: 2px;
  border-radius: $border-rounded;
  background-color: $whiter;
  display: block;
  padding: 0.75rem 1rem;
  &.input--error {
    color: $error-fg;
    background-color: $error-bg;
    box-shadow: -2px -2px 0px $error-fg, 2px 2px 0px $error-fg, 2px -2px 0px $error-fg, -2px 2px 0px $error-fg;
  }
  &[type='checkbox'],
  &[type='radio'] {
    width: auto;
    display: inline;
    & ~ span {
      display: inline;
      margin-left: 1rem;
    }
  }
}

.input__error-message {
  font-size: 1.6rem;
  color: $error-fg;
  padding: 1rem 0;
  display: inline-block;
}

.tooltip {
  display: inline-block;
  vertical-align: middle;
  width: 3rem;
  height: 3rem;
  @include tablet {
    position: relative;
  }
  &__icon {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%0A%3Csvg fill='%23000e0f' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' width='64px' height='64px'%3E%3Cpath d='M 31 2 C 15.011719 2 2 15.007813 2 31 C 2 46.992188 15.011719 60 31 60 C 46.988281 60 60 46.992188 60 31 C 60 15.007813 46.988281 2 31 2 Z M 31 4 C 45.886719 4 58 16.113281 58 31 C 58 45.886719 45.886719 58 31 58 C 16.113281 58 4 45.886719 4 31 C 4 16.113281 16.113281 4 31 4 Z M 31 8 C 18.316406 8 8 18.316406 8 31 C 8 43.683594 18.316406 54 31 54 C 43.683594 54 54 43.683594 54 31 C 54 23.894531 50.792969 17.300781 45.203125 12.90625 C 44.765625 12.5625 44.136719 12.640625 43.796875 13.074219 C 43.453125 13.507813 43.53125 14.136719 43.964844 14.480469 C 49.070313 18.492188 52 24.515625 52 31 C 52 42.578125 42.578125 52 31 52 C 19.421875 52 10 42.578125 10 31 C 10 19.421875 19.421875 10 31 10 C 32.027344 10 33.058594 10.074219 34.066406 10.222656 C 34.613281 10.304688 35.121094 9.925781 35.199219 9.375 C 35.277344 8.828125 34.902344 8.320313 34.355469 8.242188 C 33.253906 8.082031 32.125 8 31 8 Z M 38.53125 9.34375 C 38.144531 9.363281 37.785156 9.609375 37.644531 10 C 37.453125 10.515625 37.71875 11.089844 38.234375 11.28125 C 39.019531 11.570313 39.796875 11.910156 40.546875 12.292969 C 40.695313 12.367188 40.851563 12.402344 41.003906 12.402344 C 41.367188 12.402344 41.71875 12.203125 41.894531 11.855469 C 42.144531 11.363281 41.953125 10.761719 41.457031 10.511719 C 40.640625 10.089844 39.789063 9.71875 38.925781 9.402344 C 38.796875 9.355469 38.664063 9.335938 38.53125 9.34375 Z M 29 18 C 26.242188 18 24 20.242188 24 23 C 24 23.550781 24.445313 24 25 24 C 25.554688 24 26 23.550781 26 23 C 26 21.347656 27.347656 20 29 20 L 33 20 C 34.652344 20 36 21.347656 36 23 L 36 25.839844 C 36 27.296875 35.070313 28.589844 33.683594 29.050781 C 31.480469 29.785156 30 31.839844 30 34.160156 L 30 37 C 30 37.550781 30.445313 38 31 38 C 31.554688 38 32 37.550781 32 37 L 32 34.160156 C 32 32.703125 32.929688 31.410156 34.316406 30.949219 C 36.519531 30.214844 38 28.160156 38 25.839844 L 38 23 C 38 20.242188 35.757813 18 33 18 Z M 13 30 C 12.445313 30 12 30.449219 12 31 L 12 33 C 12 33.550781 12.445313 34 13 34 C 13.554688 34 14 33.550781 14 33 L 14 31 C 14 30.449219 13.554688 30 13 30 Z M 18 30 C 17.445313 30 17 30.449219 17 31 L 17 33 C 17 33.550781 17.445313 34 18 34 C 18.554688 34 19 33.550781 19 33 L 19 31 C 19 30.449219 18.554688 30 18 30 Z M 23 30 C 22.445313 30 22 30.449219 22 31 L 22 33 C 22 33.550781 22.445313 34 23 34 C 23.554688 34 24 33.550781 24 33 L 24 31 C 24 30.449219 23.554688 30 23 30 Z M 39 30 C 38.445313 30 38 30.449219 38 31 L 38 33 C 38 33.550781 38.445313 34 39 34 C 39.554688 34 40 33.550781 40 33 L 40 31 C 40 30.449219 39.554688 30 39 30 Z M 44 30 C 43.445313 30 43 30.449219 43 31 L 43 33 C 43 33.550781 43.445313 34 44 34 C 44.554688 34 45 33.550781 45 33 L 45 31 C 45 30.449219 44.554688 30 44 30 Z M 49 30 C 48.445313 30 48 30.449219 48 31 L 48 33 C 48 33.550781 48.445313 34 49 34 C 49.554688 34 50 33.550781 50 33 L 50 31 C 50 30.449219 49.554688 30 49 30 Z M 31 40 C 29.894531 40 29 40.894531 29 42 C 29 43.105469 29.894531 44 31 44 C 32.105469 44 33 43.105469 33 42 C 33 40.894531 32.105469 40 31 40 Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__content {
    font-family: $font-body;
    font-size: 1.6rem;
    font-weight: $fw-normal;
    position: absolute;
    z-index: 4;
    display: none;
    background: $black;
    color: $white;
    padding: 1rem;
    border-radius: $border-rounded;
    left: 1rem;
    right: 1rem;

    @include tablet {
      width: 30rem;
      left: auto;
      right: -1rem;
      top: 4rem;
      &:before {
        content: '';
        width: 0;
        height: 0;
        border: 1rem solid transparent;
        border-bottom-color: $black;
        position: absolute;
        top: -2rem;
        right: 1.5rem;
      }
    }
  }
  &.show {
    .tooltip__icon {
      background-image: url("data:image/svg+xml,%0A%3Csvg fill='%23000e0f' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' width='64px' height='64px'%3E%3Cpath d='M 31 2 C 15.011719 2 2 15.007813 2 31 C 2 46.992188 15.011719 60 31 60 C 46.988281 60 60 46.992188 60 31 C 60 15.007813 46.988281 2 31 2 Z M 31 4 C 45.886719 4 58 16.113281 58 31 C 58 45.886719 45.886719 58 31 58 C 16.113281 58 4 45.886719 4 31 C 4 16.113281 16.113281 4 31 4 Z M 30.5625 8.007813 C 24.671875 8.125 18.960938 10.511719 14.734375 14.734375 C 5.769531 23.703125 5.769531 38.292969 14.734375 47.261719 C 14.929688 47.457031 15.1875 47.554688 15.441406 47.554688 C 15.699219 47.554688 15.957031 47.457031 16.152344 47.261719 C 16.542969 46.871094 16.542969 46.238281 16.152344 45.847656 C 7.960938 37.660156 7.964844 24.339844 16.152344 16.152344 C 20.898438 11.402344 27.699219 9.203125 34.339844 10.265625 C 34.882813 10.355469 35.398438 9.980469 35.484375 9.4375 C 35.574219 8.890625 35.199219 8.375 34.65625 8.289063 C 33.292969 8.070313 31.925781 7.976563 30.5625 8.007813 Z M 38.65625 9.386719 C 38.269531 9.402344 37.910156 9.648438 37.765625 10.035156 C 37.570313 10.554688 37.832031 11.128906 38.351563 11.324219 C 39.066406 11.589844 39.769531 11.898438 40.453125 12.238281 C 40.597656 12.3125 40.75 12.347656 40.902344 12.347656 C 41.265625 12.347656 41.617188 12.148438 41.796875 11.796875 C 42.042969 11.304688 41.84375 10.703125 41.351563 10.453125 C 40.609375 10.078125 39.832031 9.742188 39.050781 9.449219 C 38.921875 9.402344 38.789063 9.382813 38.65625 9.386719 Z M 44.433594 12.675781 C 44.179688 12.707031 43.9375 12.832031 43.765625 13.050781 C 43.425781 13.484375 43.5 14.113281 43.9375 14.453125 C 44.605469 14.976563 45.246094 15.546875 45.847656 16.152344 C 54.039063 24.339844 54.039063 37.660156 45.847656 45.847656 C 45.457031 46.242188 45.457031 46.871094 45.847656 47.265625 C 46.042969 47.457031 46.300781 47.558594 46.558594 47.558594 C 46.8125 47.558594 47.070313 47.457031 47.265625 47.265625 C 56.230469 38.296875 56.230469 23.703125 47.265625 14.734375 C 46.605469 14.078125 45.902344 13.453125 45.171875 12.878906 C 44.953125 12.710938 44.683594 12.644531 44.433594 12.675781 Z M 22.515625 21.515625 C 22.261719 21.515625 22.003906 21.613281 21.808594 21.808594 C 21.417969 22.199219 21.417969 22.832031 21.808594 23.222656 L 29.585938 31 L 21.808594 38.777344 C 21.417969 39.167969 21.417969 39.800781 21.808594 40.191406 C 22.003906 40.386719 22.257813 40.484375 22.515625 40.484375 C 22.773438 40.484375 23.027344 40.386719 23.222656 40.191406 L 31 32.414063 L 38.777344 40.191406 C 38.972656 40.386719 39.226563 40.484375 39.484375 40.484375 C 39.742188 40.484375 39.996094 40.386719 40.191406 40.191406 C 40.582031 39.800781 40.582031 39.167969 40.191406 38.777344 L 32.414063 31 L 40.191406 23.222656 C 40.582031 22.832031 40.582031 22.199219 40.191406 21.808594 C 39.800781 21.417969 39.167969 21.417969 38.777344 21.808594 L 31 29.585938 L 23.222656 21.808594 C 23.027344 21.613281 22.769531 21.515625 22.515625 21.515625 Z M 21.375 47.394531 C 20.984375 47.347656 20.589844 47.527344 20.386719 47.886719 L 19.386719 49.621094 C 19.109375 50.097656 19.273438 50.707031 19.75 50.984375 C 19.90625 51.074219 20.078125 51.121094 20.25 51.121094 C 20.59375 51.121094 20.929688 50.941406 21.113281 50.621094 L 22.113281 48.886719 C 22.390625 48.410156 22.230469 47.796875 21.75 47.519531 C 21.628906 47.453125 21.5 47.410156 21.375 47.394531 Z M 40.625 47.394531 C 40.496094 47.410156 40.367188 47.453125 40.25 47.519531 C 39.769531 47.796875 39.609375 48.410156 39.886719 48.890625 L 40.886719 50.621094 C 41.070313 50.941406 41.40625 51.121094 41.75 51.121094 C 41.921875 51.121094 42.09375 51.078125 42.25 50.984375 C 42.730469 50.710938 42.890625 50.097656 42.613281 49.621094 L 41.613281 47.890625 C 41.40625 47.53125 41.011719 47.347656 40.625 47.394531 Z M 25.816406 49.34375 C 25.429688 49.398438 25.09375 49.675781 24.984375 50.078125 L 24.46875 52.011719 C 24.324219 52.542969 24.644531 53.089844 25.175781 53.234375 C 25.261719 53.257813 25.347656 53.269531 25.4375 53.269531 C 25.875 53.269531 26.28125 52.972656 26.402344 52.527344 L 26.921875 50.59375 C 27.0625 50.0625 26.746094 49.511719 26.214844 49.371094 C 26.078125 49.332031 25.945313 49.324219 25.816406 49.34375 Z M 36.1875 49.34375 C 36.058594 49.324219 35.921875 49.332031 35.785156 49.371094 C 35.253906 49.511719 34.9375 50.0625 35.078125 50.59375 L 35.597656 52.527344 C 35.71875 52.972656 36.121094 53.269531 36.5625 53.269531 C 36.652344 53.269531 36.738281 53.257813 36.824219 53.234375 C 37.355469 53.089844 37.675781 52.542969 37.53125 52.011719 L 37.015625 50.078125 C 36.90625 49.675781 36.570313 49.398438 36.1875 49.34375 Z M 31 50 C 30.445313 50 30 50.449219 30 51 L 30 53 C 30 53.550781 30.445313 54 31 54 C 31.554688 54 32 53.550781 32 53 L 32 51 C 32 50.449219 31.554688 50 31 50 Z'/%3E%3C/svg%3E");
    }
    .tooltip__content {
      display: block;
    }
  }
}

.centred-form {
  width: 40rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 3rem 2rem;
  align-self: center;
}


// react-autosuggest
.react-autosuggest__container {
  position: relative;
  li {
    list-style: none;
  }
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 4rem;
  width: 100%;
  border: 1px solid $black;
  background-color: $whiter;
  border-bottom-left-radius: $border-rounded;
  border-bottom-right-radius: $border-rounded;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 1rem 2rem;
}

.react-autosuggest__suggestion--highlighted {
  background-color: $orange50;
}