@import '../variables.scss';
@import '../icons.scss';

.meals {
  h1 {
    text-shadow: 2px 2px 0 $pink50;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
    }
  }

  &__side {
    @include desktop {
      box-shadow: 2px 2px 0 $pink50;
    }
  }

  &__list {
    margin: 0;
    padding: 2rem 0;
    &__item {
      list-style: none;
      display: block;
      margin-bottom: 0.75rem;
      &__inner {
        background-color: $white40;
        padding: 0.5rem;
        margin: 0 0 0 0.75rem;
        display: flex;
        align-items: center;
        word-break: break-word;
      }
      &__buttons {
        margin-left: auto;
        width: 15rem;
        text-align: right;
        button {
          margin-left: 1rem;
          width: 3rem;
          height: 3rem;
        }
      }
    }
  }
  // !important overrides inline styles - injected by module
  .circle-picker {
    width: 100% !important;
    margin-bottom: 2rem !important;
    margin-top: 0.5rem;
  }
}