@import '../variables.scss';

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $white90;
    z-index: 100;
    align-items: center;
    justify-content: center;
    display: flex;
    &__image {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='146.375' height='82.031' viewBox='0 0 146.375 82.031'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23000e0f; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='mealise_icon_logo' data-name='mealise icon logo' class='cls-1' d='M126.742,329.39c13,2.2,31.4-3.6,39.4-30.6,1.6-5.6-1.2-8.8-4.4-10.4a16.262,16.262,0,0,0-7-1.8c-3.2,6.4-13.6,31-21.4,27.8-4-1.4-2.6-8.6.4-17.2,3.2-9,6.8-16.8,9.8-24.8,1-2.6,1-4.6.4-5.6-3-4-9.2-6.6-13.4-6.6a9.5,9.5,0,0,0-4.8,1.2c-6.4,2.6-23.4,21.2-36.8,37.2a242.068,242.068,0,0,1,17-38.6c1.4-2.2,1.4-4.2.4-5.6-3-4-9.2-6.6-13.4-6.6a11.192,11.192,0,0,0-5.4,1.6c-6.6,3.2-26.2,26.6-39.8,46,2.6-7.8,5.8-15.2,9.2-23,1-2.4,1.2-4.2.4-5.6-3-4-9.2-6.6-13.4-6.6-6.2,0-11.8,6.2-14.8,13.4-6.2,13.6-10,29.4-8.6,43.8,0.6,7.4,3.4,13,10,12.4,1.4,0,7.4-.4,9.6-1.8,2-.6,14-20.4,25.6-37.2-3,10.2-4.8,19.6-4,26.6,0.6,7.4,3.4,13,10,12.4,1.4,0,7.4-.4,9.6-1.8,2.2-.6,13.6-15.8,27.6-31.4C106.742,310.99,110.542,325.59,126.742,329.39Z' transform='translate(-20.25 -247.781)'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 10rem;
        height: 10rem;
        animation: rubberband 1s linear infinite;
    }
}

/* Source: animate.css - https://animate.style */
@keyframes rubberband {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    30% {
        -webkit-transform: scale3d(1.25,.75,1);
        transform: scale3d(1.25,.75,1);
    }

    40% {
        -webkit-transform: scale3d(.75,1.25,1);
        transform: scale3d(.75,1.25,1);
    }

    50% {
        -webkit-transform: scale3d(1.15,.85,1);
        transform: scale3d(1.15,.85,1);
    }

    65% {
        -webkit-transform: scale3d(.95,1.05,1);
        transform: scale3d(.95,1.05,1);
    }

    75% {
        -webkit-transform: scale3d(1.05,.95,1);
        transform: scale3d(1.05,.95,1);
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}