@import '../variables.scss';

.account-settings {
  h1 {
    text-shadow: 2px 2px 0 $blue50;
  }
  &__main {
    width: 42rem;
    max-width: 100%;
  }
  &__form {
    padding-bottom: 2rem;
    &:not(:first-of-type) {
      border-top: 1px solid $black;
      padding-top: 2rem;
    }
  }
}