@import '../variables.scss';

*,
*::before,
*::after {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-body;
  font-size: 10px;
  font-weight: 300;
  color: $black;
  background: $white;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  margin-left: $mininav-width;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.vh {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

main {
  padding: 3rem;
  flex: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  line-height: 1.25;
  font-weight: 700;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
}

